.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgray;
}
.border {
  border: solid 2px red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  width: 100%;
  background: #010101;
  background-image: url("../assets/bg2.jpg") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}
.mycontainer {
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .mycontainer {
    width: 1280px;
  }
}
@media (max-width: 500px) {
  .mycontainer {
    width: 414px;
  }
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  height: 52px;
  z-index: 1;
  background: #010101;
  opacity: 0.5;
  border-radius: 52%;
  border: 5px solid #6a25f8;
}
@media (min-width: 1280px) {
  .top-bar {
    width: 1280px;
  }
}
@media (max-width: 500px) {
  .top-bar {
    height: 88px;
  }
}
.top-bar .container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 0 75px;
}
@media (max-width: 1200px) {
  .top-bar .container {
    width: 1200px;
  }
}
@media (max-width: 500px) {
  .top-bar .container {
    flex-wrap: wrap;
  }
}
.top-bar .container .container-left {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
}
.top-bar .container .container-left span {
  cursor: pointer;
  margin-right: 25%;
  font-weight: bold;
}
.top-bar .container .logo {
  height: 44px;
  width: 125px;
  border-radius: 30%;
}
@media (max-width: 500px) {
  .top-bar .container .logo {
    width: 250px;
    margin: 0 auto;
  }
}
.top-bar .container .container-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 15px;
  color: whitesmoke;
}
.top-bar .container .container-center a {
  cursor: pointer;
  text-decoration: none;
  color: #6a25f8;
  margin-right: 5%;
}
.top-bar .container .container-center a:last-child {
  margin-right: 0;
}
.top-bar .container .container-center a:hover {
  border-left: 5px solid #6a25f8;
  border-right: 5px solid #6a25f8;
  border-radius: 30%;
}
@media (max-width: 500px) {
  .top-bar .container .container-center {
    justify-content: space-evenly;
  }
}
.top-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 15px;
}
.top-bar .container .container-right a {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.top-bar .container .container-right a:last-child {
  margin-right: 0;
}
.top-bar .container .container-right a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .top-bar .container .container-right {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
  }
}
.welcome {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  z-index: 0;
  top: 11%;
  border: 2px solid #6a25f8;
  border-radius: 5%;
  background: #010101;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .welcome {
    position: relative;
    padding-top: 88px;
  }
}
@media (min-width: 1280px) {
  .welcome {
    width: 1280px;
  }
}
.welcome video {
  width: 95%;
}
@media (max-width: 500px) {
  .welcome video {
    display: none;
  }
}
.welcome .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 70px;
  color: whitesmoke;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .welcome .title {
    font-size: 40px;
    width: 100%;
    top: 300%;
  }
}
.welcome .title .top {
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  .welcome .title .top {
    margin-bottom: 15%;
  }
}
.welcome .title .center {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.welcome .title .center .left {
  text-shadow: 1px 0 0 hsl(174, 5%, 80%), 2px 0 0 hsl(174, 5%, 75%), 3px 0 0 hsl(174, 5%, 70%), 4px 0 0 hsl(174, 5%, 66%), 5px 0 0 hsl(174, 5%, 64%), 6px 0 0 hsl(174, 5%, 62%), 7px 0 0 hsl(174, 5%, 61%), 8px 0 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 1px 0 3px rgba(0, 0, 0, 0.2), 3px 0 5px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2), 20px 0 20px rgba(0, 0, 0, 0.3);
}
.welcome .title .center .right {
  text-shadow: -1px 0 0 hsl(174, 5%, 80%), -2px 0 0 hsl(174, 5%, 75%), -3px 0 0 hsl(174, 5%, 70%), -4px 0 0 hsl(174, 5%, 66%), -5px 0 0 hsl(174, 5%, 64%), -6px 0 0 hsl(174, 5%, 62%), -7px 0 0 hsl(174, 5%, 61%), -8px 0 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 1px 0 3px rgba(0, 0, 0, 0.2), 3px 0 5px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2), 20px 0 20px rgba(0, 0, 0, 0.3);
}
.welcome .title .bottom {
  text-shadow: 0 -1px 0 hsl(174, 5%, 80%), 0 -2px 0 hsl(174, 5%, 75%), 0 -3px 0 hsl(174, 5%, 70%), 0 -4px 0 hsl(174, 5%, 66%), 0 -5px 0 hsl(174, 5%, 64%), 0 -6px 0 hsl(174, 5%, 62%), 0 -7px 0 hsl(174, 5%, 61%), 0 -8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  .welcome .title .bottom {
    margin-top: 15%;
  }
}
.about {
  color: whitesmoke;
  height: 400px;
  background: #010101;
  width: 95%;
  margin: 250px auto;
  border: 5px solid #6a25f8;
  border-radius: 5%;
  text-align: center;
  opacity: 0.8;
}
@media (max-width: 500px) {
  .about {
    margin: 0 auto;
    height: 485px;
  }
}
.about h2 {
  font-size: 50px;
  border-left: 5px solid #6a25f8;
  border-right: 5px solid #6a25f8;
  border-radius: 10%;
  margin: 30px 200px;
}
@media (max-width: 500px) {
  .about h2 {
    font-size: 35px;
    margin: 7px 5px;
    text-align: center;
  }
}
.about p {
  margin: 10px 10px 10px 10px;
  line-height: 125%;
}
.maincontent .background {
  width: 100%;
  height: 100%;
}
.maincontent .team {
  color: whitesmoke;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.maincontent .team .item {
  text-align: center;
}
.maincontent .team .item .members {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .maincontent .team .item .members {
    flex-direction: column;
  }
}
.maincontent .team .item .members .teammember {
  background: green;
  width: 48.5%;
  height: 75%;
}
@media (max-width: 500px) {
  .maincontent .team .item .members .teammember {
    width: 90%;
    height: 50%;
  }
}
