.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgray;
}
.border {
  border: solid 2px red;
}
body {
  background: black;
  width: 100%;
  margin: 0 auto;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #181818;
  z-index: 1;
}
.top-bar .container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: white;
  letter-spacing: 1px;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .top-bar .container {
    width: 1200px;
  }
}
.top-bar .container .container-left {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
}
.top-bar .container .container-left span {
  cursor: pointer;
  margin-right: 25%;
  font-weight: bold;
}
.top-bar .container .logo {
  height: 44px;
  width: 125px;
}
.top-bar .container .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 15px;
}
.top-bar .container .container-center span {
  cursor: pointer;
  margin-right: 5%;
}
.top-bar .container .container-center span:last-child {
  margin-right: 0;
}
.top-bar .container .container-center span:hover {
  text-decoration: underline;
}
.top-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
  font-weight: bold;
}
.top-bar .container .container-right span {
  cursor: pointer;
}
.welcome {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}
.welcome video {
  width: 100%;
}
.welcome .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 1280px;
  height: 75%;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 40px;
  color: white;
}
.welcome .title .top {
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
.welcome .title .center {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.welcome .title .center .left {
  text-shadow: 1px 0 0 hsl(174, 5%, 80%), 2px 0 0 hsl(174, 5%, 75%), 3px 0 0 hsl(174, 5%, 70%), 4px 0 0 hsl(174, 5%, 66%), 5px 0 0 hsl(174, 5%, 64%), 6px 0 0 hsl(174, 5%, 62%), 7px 0 0 hsl(174, 5%, 61%), 8px 0 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 1px 0 3px rgba(0, 0, 0, 0.2), 3px 0 5px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2), 20px 0 20px rgba(0, 0, 0, 0.3);
}
.welcome .title .center .right {
  text-shadow: -1px 0 0 hsl(174, 5%, 80%), -2px 0 0 hsl(174, 5%, 75%), -3px 0 0 hsl(174, 5%, 70%), -4px 0 0 hsl(174, 5%, 66%), -5px 0 0 hsl(174, 5%, 64%), -6px 0 0 hsl(174, 5%, 62%), -7px 0 0 hsl(174, 5%, 61%), -8px 0 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 1px 0 3px rgba(0, 0, 0, 0.2), 3px 0 5px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2), 20px 0 20px rgba(0, 0, 0, 0.3);
}
.welcome .title .bottom {
  text-shadow: 0 -1px 0 hsl(174, 5%, 80%), 0 -2px 0 hsl(174, 5%, 75%), 0 -3px 0 hsl(174, 5%, 70%), 0 -4px 0 hsl(174, 5%, 66%), 0 -5px 0 hsl(174, 5%, 64%), 0 -6px 0 hsl(174, 5%, 62%), 0 -7px 0 hsl(174, 5%, 61%), 0 -8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
