.about { 
  color: @white;
  height: 400px;
  background: @background;
  width: 95%;
  margin: 250px auto;
  border: 5px solid @blackholePurple;
  border-radius: 5%;
  text-align: center;
  opacity: 0.8;

  @media (max-width: 500px) {
    margin: 0 auto;
    height: 485px;
  }

  h2 {
    font-size: 50px;
    border-left: 5px solid @blackholePurple;
    border-right: 5px solid @blackholePurple;
    border-radius: 10%;
    margin: 30px 200px;

    @media (max-width: 500px) {
      font-size: 35px;
      margin: 7px 5px;
      text-align: center;
    }
  }

  p {
    margin: 10px 10px 10px 10px;
    line-height: 125%;
  }
}

