.mycontainer {
  font-family: 'Righteous', cursive;
  width: 100%;
  height: 100%;

  background: @background;
  background-image: url("../assets/bg2.jpg") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;

  @media (min-width: @normalMonitor)
  {
    background-size: 150% 100%;
  }
}
