html {
  height: 100%;
}

.mycontainer {
  width: 100%;
  margin: 0 auto;
  background: @background;

  @media (min-width: 1280px) {
    width: 1280px;
  }

  @media (max-width: 500px) {
    width: 414px;
  }
}