.top-bar {
  .width-100();
  .flex(center);
  position: fixed;
  height: 52px;
  background-color: rgb(24, 24, 24);
  z-index: 1;
  border-bottom: 2px solid @blackholePurple;

  @media (min-width: 1280px) {
    width: 1280px;
  }

  @media (max-width: 500px) {
    height: 88px;
  }

  .container {
    .width-100();
    .flex();
    color: @white;
    letter-spacing: 1px;
    padding: 0 10px;
    @media (max-width: 1200px) {
      width: 1200px;
    }

    @media (max-width: 500px) {
      flex-wrap: wrap;
    }

    .container-left {
      .flex(none, center);
      flex: 1;
      font-size: 11px;
      span {
        cursor: pointer;
        margin-right: 25%;
        font-weight: bold;
      }
    }
    .logo {
      height: 44px;
      width: 125px;
      border-top: 2px solid @blackholePurple;
      border-bottom: 2px solid @blackholePurple;
      border-radius: 30%;

      @media (max-width: 500px) {
        width: 250px;
        margin: 0 auto;
      }
    }
    .container-center {
      .flex(center, center);
      flex: 3;
      font-size: 15px;
      color: @white;
      a {
        cursor: pointer;
        text-decoration: none;
        color: @blackholePurple;
        margin-right: 5%;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          border-left: 5px solid @blackholePurple;
          border-right: 5px solid @blackholePurple;
          border-radius: 30%;
        }
      }

      @media (max-width: 500px) {
        justify-content: space-evenly;
      }
    }
    .container-right {
      .flex(flex-end, center);
      flex: 1;
      font-size: 15px;
      a {
        color: @white;
        text-decoration: none;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 500px) {
        .flex(center);
      }
    }
  }
}
